<template>
  <div style="text-align: center">

    <h1 v-if="loading"> Loading jokes </h1>
    <div v-else>
      <SearchJokes v-on:search-text="searchText"/>
      <Joke v-for="joke in allJokes" :key="joke.id"
            :id="joke.id" :joke="joke.joke"
      />
      <p v-if="allJokes.length == 0">
        Sorry, no jokes matching your criteria <br>
        <span @click=""> Reset </span>
      </p>
    </div>
  </div>
</template>

<script>
  import axios from 'axios'
  import Joke from "~/components/Joke";
  import SearchJokes from "~/components/SearchJokes";

  export default {
    components: {
      Joke, SearchJokes
    },
    head() {
      return {
        title: 'Get Jokes',
        meta: [{
          hid: 'description',
          name: 'description',
          content: 'Best place for dad jokes'
        }],
      }
    },
    data() {
      return {
        allJokes: [],
        loading: true,
      }
    },
    methods: {
      async searchText(text) {
        try {
          const response = await axios.get(`https://icanhazdadjoke.com/search?term=${text}`, {
            headers: {'Accept': 'application/json'}
          })
          this.allJokes = response.data.results
        } catch(e) {
          console.log(e)
        }
      }
    },
    created() {
      axios.get('https://icanhazdadjoke.com/search', {
        headers: {'Accept': 'application/json'}
      })
      .then(response => {
        this.loading = false
        this.allJokes = response.data.results
      })
      .catch(e=> { console.log(e) })
    }
  }
</script>
