<template>
  <div>
    <h2>{{joke}}</h2>
    <br><br><hr>
    <nuxt-link to="/jokes"> go back </nuxt-link>
  </div>
</template>

<script>
  import axios from "axios"
  export default {
    data() {
      return {
        id: this.$route.params.id,
        joke: {}
      }
    },
    async created() {
      try {
        const response = await axios.get(`https://icanhazdadjoke.com/j/${this.id}`, {
          headers: {'Accept': 'application/json'}
        })
        this.joke = response.data.joke
        console.log(response.data)
      } catch(e) {
        console.log(e)
      }
    }
  }
</script>
