<template>
  <div>
    <form @submit.prevent="onSubmit">
      <input type="text" v-model="text" placeholder="Search jokes">
      <input type="submit" value="Search">
    </form>

  </div>
</template>

<script>
  export default {
    name: "searchJokes",
    data() {
      return {
        text: null
      }
    },
    methods: {
      onSubmit() {
        this.$emit('search-text', this.text)
      }
    }
  }
</script>
