<template>
  <div>
    <h2>About DadJokes.com</h2>
    <p>Awesome jokes app</p>
  </div>
</template>

<script>
  export default {
    head() {
      return {
        title: 'About DadJokes',
        meta: [{
          hid: 'description',
          name: 'description',
          content: 'Best place for dad jokes'
        }],
      }
    },
  }
</script>
