<template>
  <div class="wrapper">
    <h1 class="title">
      Welcome to Dad jokes
      <p> Best corny jokes on the web </p>
    </h1>
  </div>
</template>

<script>
export default {

}
</script>

<style>
.wrapper {
  margin: 0 auto;
  text-align: center;
}

.title {
  font-family:
    'Quicksand',
    'Source Sans Pro',
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    'Helvetica Neue',
    Arial,
    sans-serif;
  display: block;
  font-weight: 300;
  color: #35495e;
  letter-spacing: 1px;
}
  .title p  {font-size: 1rem}

</style>
